* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  background: url() center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  background-color: #2c343f;
  width: 100%;
  height: 100%;
}

main.table {
  width: 82vw;
  height: 82vh;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 0.8rem;
  overflow: hidden;
}
.table__header {
  width: 100%;
  background-color: #fff5;
  padding: 0.8rem 2rem;
  display: flex;
}
.tienda {
  align-content: end;
  padding-left: 15rem;

}
.table__body {
  width: 95%;
  background-color: #fffb;
  margin: 0.8rem auto;
  padding: 0.8rem auto;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  align-content: center;
  margin-right: 1rem;
  border-radius: 25%;
  margin-left: 1rem;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.25rem;
  border: solid black 1px;
  text-align: center;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
}

tbody th {
  border-color: #0021b3;
}
body tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6;
}
.status {
  padding: 0.3rem 0;
  border-radius: 2rem;
  text-align: center;
}
.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}
.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}
.status.pending {
  background-color: #f7eaa2;
  color: #b38f00;
}
.status.shipped {
  background-color: #a3c1f7;
  color: #0021b3;
}
@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

.background-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Establece un z-index negativo para ponerlo detrás de todo */
  background-color: #2c343f; /* Fondo del canvas */
  width: 100%;
  height: 100%;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  padding-left: 40%;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: rgb(220, 20, 60);
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #b0b0b0;
  border-radius: 50%;
  transition: 300ms;
}
.checkmark2 {
  --clr: rgb(255, 69, 0);
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #b0b0b0;
  border-radius: 50%;
  transition: 300ms;
}
.checkmark3 {
  --clr: rgb(255, 215, 0);
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #b0b0b0;
  border-radius: 50%;
  transition: 300ms;
}
.checkmark4 {
  --clr: rgb(50, 205, 50);
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #b0b0b0;
  border-radius: 50%;
  transition: 300ms;
}
.checkmark5 {
  --clr: rgb(0, 191, 255);
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #b0b0b0;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse 500ms ease-in-out;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark2 {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse2 500ms ease-in-out;
}
.container input:checked ~ .checkmark3 {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse3 500ms ease-in-out;
}
.container input:checked ~ .checkmark4 {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse4 500ms ease-in-out;
}
.container input:checked ~ .checkmark5 {
  background-color: var(--clr);
  border-radius: 0.5rem;
  animation: pulse5 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark3:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark4:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark5:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
.container input:checked ~ .checkmark2:after {
  display: block;
}
.container input:checked ~ .checkmark3:after {
  display: block;
}
.container input:checked ~ .checkmark4:after {
  display: block;
}
.container input:checked ~ .checkmark5:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
/* Style the checkmark/indicator */
.container .checkmark2:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.container .checkmark3:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.container .checkmark4:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
.container .checkmark5:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #e0e0e2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/* Cambiar el color del checkbox con value="Mala" a rojo */
.container input[type="radio"][value="Mala"] ~ .checkmark {
  --clr: rgb(220, 20, 60); /* Cambia el color a rojo */
}
/* Cambiar el color del checkbox con value="Mala" a rojo */
.container input[type="radio"][value="Regular"] ~ .checkmark {
  --clr: rgb(255, 69, 0); /* Cambia el color a rojo */
}
/* Cambiar el color del checkbox con value="Mala" a rojo */
.container input[type="radio"][value="Buena"] ~ .checkmark {
  --clr: rgb(255, 215, 0); /* Cambia el color a rojo */
}
/* Cambiar el color del checkbox con value="Mala" a rojo */
.container input[type="radio"][value="Muy Buena"] ~ .checkmark {
  --clr: rgb(50, 205, 50); /* Cambia el color a rojo */
}
/* Cambiar el color del checkbox con value="Mala" a rojo */
.container input[type="radio"][value="Excelente"] ~ .checkmark {
  --clr: rgb(0, 191, 255); /* Cambia el color a rojo */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(205, 92, 92, 0.3);
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(178, 34, 34, 0.3);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(139, 0, 0, 0.3);
    rotate: 0;
  }
}
@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 rgba(255, 127, 80, 0.3);
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(255, 69, 0, 0.3);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(255, 140, 0, 0.3);
    rotate: 0;
  }
}
@keyframes pulse3 {
  0% {
    box-shadow: 0 0 0 rgba(240, 230, 140, 0.3);
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(255, 215, 0, 0.3);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(255, 255, 0, 0.3);
    rotate: 0;
  }
}
@keyframes pulse4 {
  0% {
    box-shadow: 0 0 0 rgba(0, 255, 0, 0.3);
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(173, 255, 47, 0.3);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(50, 205, 50, 0.3);
    rotate: 0;
  }
}

@keyframes pulse5 {
  0% {
    box-shadow: 0 0 0 rgba(175, 238, 238, 0.3);
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px rgba(135, 206, 250, 0.3);
  }

  100% {
    box-shadow: 0 0 0 13px rgba(0, 191, 255, 0.3);
    rotate: 0;
  }
}
@keyframes pulsered {
  0% {
    box-shadow: 0 0 0 #6e0b0b90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #6e0b0b60;
  }

  100% {
    box-shadow: 0 0 0 13px #6e0b0b30;
    rotate: 0;
  }
}
.center-checkbox {
  text-align: center; /* Centra horizontalmente el contenido */
  vertical-align: middle; /* Centra verticalmente el contenido */
}

/*
Buttons encuesta
*/
.button-container {
  padding-right: 2.3%;
  text-align: right;
}

.button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: #cdf5d7;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button + .button {
  margin-left: 8px;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}
.cancel-button {
  --color: red; /* Cambiar el color a rojo */
  background-color: #f5c1c1; /* Cambiar el color de fondo a otro tono de rojo */
  color: var(--color); /* Usar el color personalizado */
}

.cancel-button:hover {
  color: rgb(10, 25, 30); /* Cambiar el color al hacer hover (si lo deseas) */
}
.clean-button {
  --color: rgb(0, 102, 255); /* Cambiar el color a rojo */
  background-color: #c1e8f5; /* Cambiar el color de fondo a otro tono de rojo */
  color: var(--color); /* Usar el color personalizado */
}

.c-button:hover {
  color: rgb(10, 25, 30); /* Cambiar el color al hacer hover (si lo deseas) */
}

/*
Nav Bar header 
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 0rem;
  padding-right: 3rem;
}
.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.navbar a:hover::before {
  width: 100%;
}

#fecha {
  background-color: #fff; /* Color de fondo */
  border: 1px solid #b0b0b0; /* Borde */
  padding: 8px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  margin-right: 10px; /* Espacio a la derecha del input */
  height: 35px; /* Altura deseada del input */
  width: 150px; /* Ancho deseado del input */
  font-size: 16px; /* Tamaño de fuente */
  color: #000; /* Color de texto */
}

#tienda {
  background-color: #fff; /* Color de fondo */
  border: 1px solid #b0b0b0; /* Borde */
  padding: 8px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  margin-right: 10px; /* Espacio a la derecha del input */
  height: 35px; /* Altura deseada del input */
  width: 210px; /* Ancho deseado del input */
  font-size: 16px; /* Tamaño de fuente */
  color: #000; /* Color de texto */
}
