* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.btn-open-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9c244e;
  display: block;
  background: white;
  padding: 20px 50px;
  border-radius: 50px;
}
.container-all {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
}

.container-all:target {
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}
.container-all:target .popup {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}

.popup {
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: relative;
  display: flex;
  background: rgb(232, 233, 230);
  visibility: hidden;
  top: -80%;
  left: -80%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 600ms;
}
.img {
  width: 40%;
  background-image: url(/PNG/TiendaElegante.jpg);
  background-size: cover;
  background-position: center;
}
.container-text {
  width: 60%;
  padding: 50px;
  overflow-y: auto;
}
.container-text h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.container-text p {
  margin-top: 20px;
  font-size: 16px;
}
.btn-close-popup {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 10px;
}

@media screen and (max-width: 900px) {
  .popup {
    flex-direction: column;
    height: 100%;
    max-height: 800px;
  }
  .img {
    width: 100%;
    height: 40%;
  }
  .container-text {
    width: 100%;
    height: 60%;
    padding: 80px;
  }
  .btn-close-popup {
    right: 10px;
    top: 10px;
  }
}

/*Select /

/* <select> styles */
:root {
  --arrow-bg: rgba(65, 61, 61, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}
/* <select> styles */
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}

/* Button*/
.button-find {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.button-find:hover {
  background-color: rgb(56, 56, 56);
}

.button-find:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button-find:active {
  transform: scale(0.8);
}
